<% if (transactions.length > 0) { %>
<div>
  <% for (let transaction of transactions) { %>
  <article>
    <h5><%= transaction.transactionType %>:</h5>
    <span><%= transaction.itemName %> - </span>
    <span><%= transaction.amount %></span>
    <span><%= transaction.currency %></span>
    <p>Date: <%= transaction.createdAt.toDateString() %></p>
  </article>
  <% } %>
</div>
<% } else { %>
<h1>No Transactions Found!</h1>
<% } %>
